<html lang="en">

<%- include("../partials/header.ejs") %>
    
    <body>
        <%- include("../partials/nav.ejs") %>
        <div class="container">
            Thanks for input the data <%= data.txtEmplSapId %> and <%= data.txtName %>
        </div>
    </body>

<%- include("../partials/footer.ejs") %>

</html>

<%- include("../partials/scripts.ejs") %>